-- CreateEnum
CREATE TYPE "KategoriKonten" AS ENUM ('program', 'artikel');

-- CreateTable
CREATE TABLE "Admin" (
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,

    CONSTRAINT "Admin_pkey" PRIMARY KEY ("email")
);

-- CreateTable
CREATE TABLE "Jenis" (
    "id" SERIAL NOT NULL,
    "nama" TEXT NOT NULL,

    CONSTRAINT "Jenis_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Konten" (
    "kodeKonten" TEXT NOT NULL,
    "penulis" TEXT NOT NULL,
    "view" INTEGER NOT NULL DEFAULT 0,
    "tanggal" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "isiHTML" TEXT NOT NULL,
    "kategori" "KategoriKonten" NOT NULL,
    "linkGambar" TEXT,
    "viewMonth" INTEGER NOT NULL DEFAULT 0,
    "Editor" TEXT,
    "Reporter" TEXT,
    "judul" TEXT NOT NULL,
    "jenisId" INTEGER,

    CONSTRAINT "Konten_pkey" PRIMARY KEY ("kodeKonten")
);

-- CreateTable
CREATE TABLE "Pengurus" (
    "id" SERIAL NOT NULL,
    "nama" TEXT NOT NULL,
    "nim" TEXT NOT NULL,
    "prodi" TEXT NOT NULL,
    "jabatan" TEXT NOT NULL,
    "fotoLink" TEXT,
    "Instagram" TEXT,
    "divisi" TEXT NOT NULL,
    "linkedin" TEXT,

    CONSTRAINT "Pengurus_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WebsiteConfig" (
    "id" SERIAL NOT NULL,
    "desc_satu" TEXT,
    "desc_dua" TEXT,
    "visi" TEXT,
    "misi" TEXT,
    "struktur" TEXT,
    "instagram" TEXT,
    "twitter" TEXT,
    "youtube" TEXT,
    "tiktok" TEXT,
    "linkedin" TEXT,
    "banner" TEXT,
    "kontenI_id" TEXT,
    "kontenII_id" TEXT,
    "kontenIII_id" TEXT,

    CONSTRAINT "WebsiteConfig_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Monthly_view" (
    "id" SERIAL NOT NULL,
    "views" INTEGER NOT NULL,
    "tanggal" TIMESTAMP(3) NOT NULL,
    "jenisId" INTEGER,

    CONSTRAINT "Monthly_view_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Jenis_nama_key" ON "Jenis"("nama");

-- CreateIndex
CREATE UNIQUE INDEX "Pengurus_nim_key" ON "Pengurus"("nim");

-- AddForeignKey
ALTER TABLE "Konten" ADD CONSTRAINT "Konten_jenisId_fkey" FOREIGN KEY ("jenisId") REFERENCES "Jenis"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WebsiteConfig" ADD CONSTRAINT "WebsiteConfig_kontenIII_id_fkey" FOREIGN KEY ("kontenIII_id") REFERENCES "Konten"("kodeKonten") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WebsiteConfig" ADD CONSTRAINT "WebsiteConfig_kontenII_id_fkey" FOREIGN KEY ("kontenII_id") REFERENCES "Konten"("kodeKonten") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WebsiteConfig" ADD CONSTRAINT "WebsiteConfig_kontenI_id_fkey" FOREIGN KEY ("kontenI_id") REFERENCES "Konten"("kodeKonten") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Monthly_view" ADD CONSTRAINT "Monthly_view_jenisId_fkey" FOREIGN KEY ("jenisId") REFERENCES "Jenis"("id") ON DELETE SET NULL ON UPDATE CASCADE;

